*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Old Standard TT', serif;
}

body{
    background-color: #15173C;
}

center{
    height: 60%;
    background-color: #F9544C;
} 

.calculator{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 250px;
    background-color: #15173C;
    border-radius: 7px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.screen{
    height: 25%;
    width: 100%;
    margin-bottom: 10px;

    /* opacity: 50%; */
  
}
.upperscreen{
    height: 40%;
    background-color: blue;
    color: burlywood;
    font-size: 16px;
}

.lowerscreen{
    height: 60%;
    background-color: red;
    color: burlywood;
    font-size: 20px;
}

button{
    border: none;
    height: 30px;
    width: 50px;
    margin: 3px;
    background-color: #15173C;
}

button:hover{
    background-color: burlywood;
    color: black;
    border-radius: 7px;
    transition: ease-in-out 0.6s;
}

#equal{
    float: right;
    margin-right: 8px;
    padding: 20px;
    height: 70px;
    background-color: #F9544C;
    border-radius: 4px;
   
}

#zero{
    width: 111px;
    float: left;
    margin-left: 8px;
}

